<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/layui-v2.4.5/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/myfile.css"/>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="topTitle">
			<span><a href="alreadySend.html">已发箱</a></span><span>></span><span id="fileName"></span>
		</div>
		<div class="content clearFloat detial">
			<div class="detialtop">
				<div class="tou left">
					<img src="../static/img/chakan_doc.png"/>
				</div>
				<div class="mes left">
					<p></p>
					<span></span>
				</div>
				<div class="time right">
					<strong></strong>
				</div>
			</div>
			<div class="detialperson">
				<!-- <p>收件人：<span>吴警官</span><span>14641865106</span></p>
				<p>发件人：<span class="myself">我自己</span><span>489654189+4</span></p> -->
			</div>
			<div class="detialartical">
				<h2></h2>
				<div class="myartical">
					<!-- <p>返回肯德基撒发回来好放得开沙发看了会分开积分卡法兰克福了</p> -->
				</div>
			</div>
			<div class="detialattachment">
				<h4>附件：</h4>
				<div id="attachmentList">
					<!-- <div class="doc">
						<div class="left">
							<img src="../static/img/doc.png"/>
						</div>
						<div class="left opeater">
							<h4>扫除邪恶.doc</h4>
							<p>264.20k</p>
							<a>下载</a>
						</div>
						<div class="left yulan">
							<img src="../static/img/chakan_doc.png"/>
						</div>
					</div>
					<div class="ppt">
						<div class="left">
							<img src="../static/img/doc.png"/>
						</div>
						<div class="left opeater">
							<h4>扫除邪恶.doc</h4>
							<p>264.20k</p>
							<a>下载</a>
						</div>
						<div class="left yulan">
							<img src="../static/img/chakan_doc.png"/>
						</div>
					</div>
					<div class="pdf">
						<div class="left">
							<img src="../static/img/doc.png"/>
						</div>
						<div class="left opeater">
							<h4>扫除邪恶.doc</h4>
							<p>264.20k</p>
							<a>下载</a>
						</div>
						<div class="left yulan">
							<img src="../static/img/chakan_doc.png"/>
						</div>
					</div>
					<div class="xls">
						<div class="left">
							<img src="../static/img/doc.png"/>
						</div>
						<div class="left opeater">
							<h4>扫除邪恶.doc</h4>
							<p>264.20k</p>
							<a>下载</a>
						</div>
						<div class="left yulan">
							<img src="../static/img/chakan_doc.png"/>
						</div>
					</div> -->
				</div>
			</div>
			<div class="detialsign">
				<h4>签阅名单：</h4>
				<ul>
					<!-- <li>
						<img src="../static/img/chakan_xls.png"/>
						<p>黄警官</p>
					</li>
					<li>
						<img src="../static/img/chakan_xls.png"/>
						<p>黄警官</p>
					</li>
					<li>
						<img src="../static/img/chakan_xls.png"/>
						<p>黄警官</p>
					</li>
					<li>
						<img src="../static/img/chakan_xls.png"/>
						<p>黄警官</p>
					</li>
					<li>
						<img src="../static/img/chakan_xls.png"/>
						<p>黄警官</p>
					</li> -->
				</ul>
			</div>
			
		</div>
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/layui-v2.4.5/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/myfile.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			layui.use(['upload','layer'],function(){
				var upload = layui.upload
				,$ = layui.jquery;
				
				var myId = location.search.slice(-1);
				$.ajax({
					type:"post",
					url:"http://10.97.81.26:8000/sendfiles/sendFiles/getSendFilesById",
					data:{id:myId},
					success:function(data){
						//console.log(data);
						var data = JSON.parse(data);
						var sendFiles = data.obj;
						var attachments = data.attachments;
						var signforfiles = data.signforfiles;
						//console.log(data);
						$("#fileName").html(sendFiles.titile);
						$(".mes>p").html(sendFiles.receiverName);
						$(".mes>span").html(sendFiles.reiverDeptName);
						$(".time>strong").html(sendFiles.createTime);
						$(".detialperson").html(`<p>收件人：<span>${sendFiles.receiverName}</span><span>${sendFiles.reiverDeptCode}</span></p>
				<p>发件人：<span class="myself">我自己</span><span>${sendFiles.senderDeptCode}</span></p>`);
						$(".detialartical h2").html(sendFiles.titile);
						$(".myartical").html(sendFiles.content);
						
						if(attachments.length==0){
							$(".detialattachment").html("");
						}else{
							for(var i=0;i<attachments.length;i++){
								var filetype = attachments[i].pfname.split(".")[1];
								//console.log(filetype);
									var attachs = `<div class="doc">
												<div class="left opeater">
													<h4>${attachments[i].ofname}</h4>
													<p>${attachments[i].fileSize}k</p>
													<a href='http://10.97.81.26:8000${attachments[i].pfname}' target='_blank'>下载</a>
												</div>
											</div>`;
									$("#attachmentList").append(attachs);
								
								
							}
						}
						if(signforfiles.length==0){
							$(".detialsign").html("");
						}else{
							for(var i=0;i<signforfiles.length;i++){
									var signs = `<li>
													<img src="../static/img/chakan_xls.png"/>
													<p>${signforfiles[i].signForName}</p>
												</li>`;
									$(".detialsign ul").append(signs);
								
							}
						}

					}
				})
			})
		</script>
	</body>
</html>
