<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/layui-v2.4.5/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/myfile.css"/>
		<style type="text/css">
			#qianshou{width: 126px;height: 39px;line-height: 39px;background-color: #5B90FF;}
		</style>
	</head>
	<body>
		<div class="topTitle">
			<span><a href="receiveFile.html">收件箱</a></span><span>></span><span id="fileName"></span>
		</div>
		<div class="content clearFloat detial">
			<div class="detialtop">
				<div class="tou left">
					<img src="../static/img/chakan_doc.png"/>
				</div>
				<div class="mes left">
					<p></p>
					<span></span>
				</div>
				<div class="time right">
					<strong></strong>
				</div>
			</div>
			<div class="detialperson">
				<!-- <p>收件人：<span>我自己</span><span></span></p>
				<p>发件人：<span class="youself"></span><span></span></p> -->
			</div>
			<div class="detialartical">
				<h2></h2>
				<div class="myartical">
					
				</div>
			</div>
			<div class="detialattachment">
				<h4>附件：</h4>
				<div id="attachmentList">
					<!-- <div class="doc">
						<div class="left">
							<img src="../static/img/doc.png"/>
						</div>
						<div class="left opeater">
							<h4>扫除邪恶.doc</h4>
							<p>264.20k</p>
							<a>下载</a>
						</div>
						<div class="left yulan">
							<img src="../static/img/chakan_doc.png"/>
						</div>
					</div>
					<div class="ppt">
						<div class="left">
							<img src="../static/img/doc.png"/>
						</div>
						<div class="left opeater">
							<h4>扫除邪恶.doc</h4>
							<p>264.20k</p>
							<a>下载</a>
						</div>
						<div class="left yulan">
							<img src="../static/img/chakan_doc.png"/>
						</div>
					</div>
					<div class="pdf">
						<div class="left">
							<img src="../static/img/doc.png"/>
						</div>
						<div class="left opeater">
							<h4>扫除邪恶.doc</h4>
							<p>264.20k</p>
							<a>下载</a>
						</div>
						<div class="left yulan">
							<img src="../static/img/chakan_doc.png"/>
						</div>
					</div>
					<div class="xls">
						<div class="left">
							<img src="../static/img/doc.png"/>
						</div>
						<div class="left opeater">
							<h4>扫除邪恶.doc</h4>
							<p>264.20k</p>
							<a>下载</a>
						</div>
						<div class="left yulan">
							<img src="../static/img/chakan_doc.png"/>
						</div>
					</div> -->
				</div>
			</div>
			<div class="layui-input-block" style="margin-left: 90px;margin-top: 20px">  
				<button type="button" class="layui-btn" id="qianshou">签收</button>
			</div>
		</div>
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/layui-v2.4.5/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/myfile.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			layui.use(['upload','layer'],function(){
				var upload = layui.upload
				,$ = layui.jquery;
				
				var userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
				var myId = location.search.slice(-1);
				$.ajax({
					type:"post",
					url:"http://10.97.81.26:8000/sendfiles/sendFiles/getFilesById",
					data:{id:myId,userLoginId:userInfo.USER_LOGIN_ID},
					success:function(data){
						var data = JSON.parse(data);
						var sendFiles = data.obj;
						var attachments = data.attachments;
						var signforfiles = data.signforfiles;
						console.log(data);
						$("#fileName").html(sendFiles.titile);
						$(".mes>p").html(sendFiles.senderName);
						$(".mes>span").html(sendFiles.senderDeptName);
						$(".time>strong").html(sendFiles.createTime);
						$(".detialperson").html(`<p>收件人：<span class="myself">我自己</span><span>${sendFiles.reiverDeptCode}</span></p>
				<p>发件人：<span>${sendFiles.senderName}</span><span>${sendFiles.senderDeptCode}</span></p>`);
						$(".detialartical h2").html(sendFiles.titile);
						$(".myartical").html(sendFiles.content);
						
						if(attachments.length==0){
							$(".detialattachment").html("");
						}else{
							for(var i=0;i<attachments.length;i++){
								var filetype = attachments[i].pfname.split(".")[1];
								//console.log(filetype);
								
									var attachs = `<div class="doc">
												<div class="left opeater">
													<h4>${attachments[i].ofname}</h4>
													<p>${attachments[i].fileSize}k</p>
													<a href='http://10.97.81.26:8000${attachments[i].pfname}' target='_blank'>下载</a>
												</div>
											</div>`;
									$("#attachmentList").append(attachs);
								
								
							}
						}

					}
				})

				$("#qianshou").click(function(){
					$.ajax({
						type:"post",
						url:"http://10.97.81.26:8000/sendfiles/sendFiles/signforfiles",
						data:{id:myId,userLoginId:userInfo.USER_LOGIN_ID},
						success:function(data){
							layer.msg("签收成功");
						}
					})
				})
			})
		</script>
	</body>
</html>
