<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/layui-v2.4.5/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/myfile.css"/>
		<link rel="stylesheet" href="../static/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
		<style type="text/css">
			#test1 img{width: 100%;height: 100%;display: inline-block}
			#test1{width: 30%;height: 42px;text-align: center;line-height: 42px;color: #555555;cursor: pointer;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
			#fabu{width: 126px;height: 39px;line-height: 39px;background-color: #5B90FF;}
			#que{width: 80%;height: 36px;position: absolute;bottom: 20px;background-color: #fff;color: #c2cad8;left: 50%;margin-left: -40%;border: 1px solid #c2cad8;}
			.toolbar {
				border: 1px solid #ccc;
				width: 100%;
			}
			.editarea {
				min-height: 200px;
				overflow: auto;
				border: 1px solid #ccc;
				height: 200px;
				width: 100%;
			}
			
			.editarea img {
				max-width: 200px;
				max-height: 200px;
			}
			.editarea iframe {
				/* 在此代码区域样式 */
				width: 480px;
				height: 300px;
				border: 1px solid #ccc;
			}
			.w-e-toolbar .w-e-menu{padding: 5px!important;}
		</style>
	</head>
	<body>
		<div class="topTitle">
			<span>发文件</span><span>></span><span>扫出文件</span>
		</div>
		<div class="content clearFloat send">
			<div class="left sendMessage">
				<form action="" method="post" class="layui-form">
					<div class="layui-form-item" style="margin-top: 30px;">
						<label class="mylabel">发件人</label>
						<div class="layui-input-block">  
							<!--class="layui-disabled"样式不错-->
						  	<input type="text" name="title" autocomplete="off" class="layui-input layui-disabled" placeholder="" disabled="disabled">
						</div>	
					</div>
					<div class="layui-form-item">
						<label class="mylabel">发件人单位</label>
						<div class="layui-input-block">  
						  	<input type="text" name="title" autocomplete="off" class="layui-input layui-disabled" placeholder="" disabled="disabled">
						</div>
						
					</div>
					<div class="layui-form-item">
						<label class="mylabel">发件时间</label>
						<div class="layui-input-block">  
						  	<input type="text" name="title" autocomplete="off" class="layui-input layui-disabled" placeholder="" disabled="disabled">
						</div>
						
					</div>
					<div class="layui-form-item">
						<label class="mylabel">收件人</label>
						<div class="layui-input-block">  
						  	<input type="text" name="title" autocomplete="off" class="layui-input" placeholder="">
						</div>
						
					</div>
					<div class="layui-form-item">
						<label class="mylabel">主题</label>
						<div class="layui-input-block">  
						  	<input type="text" name="title" autocomplete="off" class="layui-input" placeholder="">
						</div>
						
					</div>
					<div class="layui-form-item">
						<label class="mylabel">正文</label>
						<div class="layui-input-block">  
						  	<div id="bar" class="toolbar"></div>
							<div id="edit" class="editarea"></div>
						</div>
						
					</div>
					<div class="layui-form-item">
						<label class="mylabel">附件</label>
						<div class="layui-input-block">  
						  	<div class="layui-upload">
							  <div class="layui-input" id="test1" style="padding: 0;">
							  	点击上传附件
							  </div>
							  <div id="attachment">
							  	
							  </div>
							</div>   
						</div>
						
					</div>
					<div class="layui-form-item">
						<label class="mylabel"></label>
						<div class="layui-input-block">  
						  	<button type="button" class="layui-btn" id="fabu">发布</button>
						</div>
						
					</div>
				</form>
			</div>
			<div class="left personList">
				<div class="search">
					<input type="text" name="" id="key" placeholder="查找联系人..." />
				</div>
				<div class="jzsstation">
					<h4>晋中市公安局</h4>
					<div class="person">
						<ul id="deptTree" class="zTree">
							<li><span><img src="../static/img/jia.png"/></span>政工监督室<strong></strong></li>
							<li><span><img src="../static/img/jia.png"/></span>政工监督室<strong></strong>
								<ul>
									<li><span><img src="../static/img/jia.png"/></span>政工监督室<strong></strong></li>
									<li><span><img src="../static/img/jia.png"/></span>政工监督室<strong></strong></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
				<button type="button" class="layui-btn" id="que">确定</button>
			</div>
		</div>
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/layui-v2.4.5/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/myfile.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../static/wangEditor-3.1.1/release/wangEditor.min.js"></script>
		<script src="../static/js/editorConfig.js" type="text/javascript" charset="utf-8"></script>
		
		  <script type="text/javascript" src="../static/ztree/js/jquery.ztree.core.min.js"></script>
		  <script type="text/javascript" src="../static/ztree/js/jquery.ztree.exhide.min.js"></script>
		  <script type="text/javascript" src="../static/ztree/js/jquery.ztree.excheck.min.js" charset="utf-8"></script>
		  <script type="text/javascript" src="../static/ztree/js/fuzzysearch.js"></script> 
		<script type="text/javascript">
			layui.use(['upload','layer'],function(){
				var upload = layui.upload
				,$ = layui.jquery;
				
				//部门警察人员树
				var dept_ztree;
				var dept_setting = {
					data: {
						simpleData: {
							enable: true,
							idKey: "deptId",
							pIdKey: "parentId",
							rootPId: 0
						},
						/*key: {
							url:"nourl"
						}*/			
					},
					callback: {
						onClick: function (event, treeId, treeNode) {
							table.reload('user-list',{
								page:{
									curr:1
								},where:{
									deptId:treeNode.deptId
								}
							});
						},
						onNodeCreated: function (event, treeId, treeNode) {
						}
					},
					check:{
						enable:true,
						chkStyle: "radio",
						radioType: "all"
					},
					view:{
						showIcon:false,//不显示图标
						selectedMulti:false//不可多选
					}
				};
				
				//加载部门数据
				admin.req({
					type:"post",
					url:layui.setter.serverBase + "sys/dept/list",		
					done:function(r){
						menu_ztree = $.fn.zTree.init($("#deptTree"), dept_setting, r.data);
			            //menu_ztree.expandAll(true);  ////展开所有节点
						//initData();
						fuzzySearch('deptTree','#key',null,true); //初始化模糊搜索方法
					}
				});	
				
				//$.fn.zTree.init($("#deptTree", null, null));
				//fuzzySearch('deptTree','#key',null,true); 初始化模糊搜索方法
				//编辑器操作
				var E = window.wangEditor;
				var editor = new E('#bar', '#edit');
				editorConfig(editor);
				
				console.log(editor);
				var imgArr = []; //记录编辑区图片
				var iframeArr = []; //记录iframe的src
				var audioArr = []; //记录audio的src
			
				upload.render({
			    elem: '#test1'
			    //,url: '/upload/'
			    ,multiple: true
			    ,auto:false//不自动上传
			    ,bindAction:'#fabu'
			    ,accept:'file'
			    //,acceptMime: 'image/*'
			    ,size:2000
			    ,choose:function(obj){
			    	//预读本地文件示例，不支持ie8
			      obj.preview(function(index, file, result){
			        //$('#test1').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
			        
			        $('#attachment').append("<p style='padding-left: 5px;width: 30%;background-color: #ecf1f9;color:#5b9cff;line-height: 16px'>"+file.name+"<span style='float: right;cursor: pointer'>删除</span></p>");
			        $('#test1').html("继续上传");
			      });
			    }
			    ,before: function(obj){
			      
			    }
			    ,done: function(res){
			      //上传完毕
			    }
			  });
			})
		</script>
		<script type="text/javascript">
			
			$(".btn").click(function() {
				var myedit = editor.$textElem[0];
				var myId = editor.textElemId;
				//console.log(editor.txt.html());
				var m = $('#' + myId + '');
				/*console.log(m.find("img").attr("src"));*/
				console.log(m.html());
				var str = m.html(); //记录原始数据
	
				//测试正则表达式替换src
				var s = str.replace(/src="\S*"/g, "src=''");
				console.log(s);
	
				console.log(m.find("img"));
				//将所具有的img标签的src存到imgArr数组里
				if(m.find("img")) {
					var myimg = m.find("img");
					for(var i = 0; i < myimg.length; i++) {
						imgArr.push(myimg.eq(i).attr("src"));
						/*myimg.eq(i).attr("src","");*/
					}
				}
			})

		</script>
	</body>
</html>
