.fl{float: left;}
.fr{float: right;}
*{margin: 0;padding: 0;}

body{background: #fff!important;}
/*header*/
#header{width: 100%;height: 58px;background-color: rgb(70, 76, 91)}
.logo{width: 15%;line-height:58px ;height: 58px;}
.logo img{display: block;}

.mynav{line-height: 58px;height: 58px;}
.mynav ul{overflow: hidden;list-style: none;margin-bottom: 0;}
.mynav ul li{float: left;width: 121px;text-align: center;line-height: 58px;color: rgb(204, 204, 204);font-size: 16px;cursor: pointer;}
.mynav ul li:hover{background-color: #1ABC9C;color: #fff;}
.mynav ul .myactive{color: #fff;background-color: #1ABC9C;}
/*.mynav ul .myactive:hover{background-color: rgb(70, 76, 91);}*/

.opeater{position: relative;}
.opeater>p{position: relative;display: inline-block;width: 120px;height: 58px;line-height: 58px;font-size: 16px;color: rgb(204, 204, 204);cursor: pointer;text-align: center;margin-bottom: 0;}
.opeater>p:hover{background-color: #1ABC9C;color: #fff;}
.opeater>p i{margin-right: 10px;}

#session{overflow: hidden;max-height: 880px;}
.sideleft{width:15%;float: left;height: 880px;background: #2A3F54!important;;}
.sideright{width:85%;float: left;min-height: 880px;background-color: #F7F7F7;position: relative;overflow: auto;}

.shousuo{float: left;width: 50px;text-align: center;}

.layui-body{
	left: 0px!important;
}

.opeater .updatePass{
	position: absolute;
	top: 58px;
	z-index: 1;
/*	border: 1px solid #1ABC9C;*/
	display: none;
	width: 120px;
	left: 0;
	background: #1ABC9C;
}

